# GitIgnore
# Copyright (C) 2025  SUSUMU ONUMA

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
.DS_Store
pocketbase/pb_data/
memo/
# iOS secrets
**/*.xcconfig
# Firebase/Google secrets
flutter/ios/Runner/GoogleService-Info.plist
flutter/android/app/google-services.json
flutter/macos/Runner/GoogleService-Info.plist
flutter/firebase.json
flutter/lib/firebase_options.dart
pocketbase/serviceAccountKey.json
pocketbase/myapp
# Flutter build & IDE cache
flutter/build/
flutter/.dart_tool/
flutter/.idea/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
# macOS/iOS build cache
flutter/ios/Flutter/flutter_export_environment.sh
flutter/macos/Flutter/ephemeral/
# ローカルDBや個人メモ
pocketbase/pb_data/